.content img {
    display: block;
    margin: 10px auto;
    border-radius: 20px;
    width: 98%;
    height: 300px;
  }
  .content {
    border-radius: 10px;
  }
  .deskriptionBlock {
    color: rgb(75, 69, 69);
    background-color: rgb(126, 154, 208);
    border-radius: 5px;
    font-size: 24px;
    font-weight: 600;
  }
  .spanTittleRpofile {
    margin-left: 10px;
  }