.nav {
    background-color: rgb(124, 196, 100);
    grid-area: n;
    padding: 25px;
  }
.item {
    font-weight: 700;
    border: 1px solid rgb(61, 61, 36);
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
  }
.item a {
      text-decoration: none;
      color: rgb(82, 62, 62);
      padding: 10px;
  }
.item a.activeLink {
      color: rgb(58, 59, 58);
  }
  .item:hover {
      background-color: rgb(100, 185, 136);
  }
  .friends {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  .itfriends img {
    width: 50px;
  }
  .titleFriends {
    display: block;
    font-size: 15px;
    text-align: center;
    padding: 28px 0 10px 0;
    color: rgb(46, 37, 37);
  }
